---
layout: default
---
<html lang="en"></html>
<div id="lang-banner">
  <button id="lang-en" class="lang-switch">EN</button>
  <span class="lang-divider">/</span>
  <button id="lang-ja" class="lang-switch">JA</button>
</div>


<div>

  <p>{{ site.long_description_en }}<br /></p>

  {% comment %} 
  Get tags from all posts
  {% endcomment %}
  {% assign rawtags = "" %}
  {% for post in site.posts %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
  {% assign rawtags = rawtags | split:'|' | sort %}

  {% comment %}
  Remove duplicate tags
  {% endcomment %}
  {% assign tags = "" %}
  {% for tag in rawtags %}
    {% if tag != "" %}
      {% if tags == "" %}
        {% assign tags = tag | split:'|' %}
      {% endif %}
      {% unless tags contains tag %}
        {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  {% comment %}
  Get site url without trailing forward slash
  {% endcomment %}
  {% if site.main_github_io %}
    {% assign site_url = "" %}
  {% else %}
    {% assign site_url_len = site.url | size | minus: 1 %}
    {% assign site_url = site.url | slice: 0, site_url_len %}
  {% endif %}

  <!-- <p>
  <h2> Tags </h2>
  <a onclick="show_tag_section('all_posts')" style="cursor: pointer;" class="post_tag"> All Posts </a>
  {% for tag in tags %}
    <a onclick="show_tag_section('{{ tag | slugify }}')" style="cursor: pointer;" class="post_tag"> {{ tag }} </a>
  {% endfor %}
  </p> -->

  <div id="all_posts">


    <div id="papers">
      <h2> Publications/Preprints </h2>
      <p>*corresponding author; †equal contribution; ‡equal last author; §team lead</p>
      {% for post in site.posts %}
      {% if post.category == "print" %}
        <div class="print_block">
          <!-- <h3>{{ post.title }}</h3> -->
          <!-- <span><strong>{{ post.date | date_to_string }}</strong> - {{ post.tags | array_to_sentence_string }}</span> -->
          {% if post.description %} 
            <p> {{ post.description }} </p>
          {% endif %}
          {% if post.img_url %} 
            <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
              <img src="{{ post.img_url }}" class="center_img">
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="conferences">
      <h2> Conferences (not peer reviewed)</h2>
      {% for post in site.posts %}
      {% if post.category == "conference" %}
        <div class="conf_block">
          <!-- <h3>{{ post.title }}</h3> -->
          <!-- <span><strong>{{ post.date | date_to_string }}</strong> - {{ post.tags | array_to_sentence_string }}</span> -->
          {% if post.description %} 
            <p> {{ post.description }} </p>
          {% endif %}
          {% if post.img_url %} 
            <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
              <img src="{{ post.img_url }}" class="center_img">
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>


  </div>

  <h2> Awards </h2>
  <div class="awards_block">
    <b>Student Incentive Award</b><br />
      <a href="https://anlp.jp/nlp2025/">31th Annual Conference of the Association for Natural Language Processing (NLP2025)</a>,<br />
      Nagasaki, Japan, 13 March, 2025<br /><br />

    <b>Best Presentation Award</b><br />
      2024 Graduate School of Frontier Biosciences Interim Examination Presentation (Master's Thesis Presentation) <br />
      Osaka, Japan, 25 March, 2025<br /><br />
  </div>
  
  <h2> Education </h2>
    <div class="edu_block">
      <p><i>2023 April - 2025 March</i><br />
        <b>Osaka University</b><br />
        Graduate School of Frontier Biosciences <br />
        Supervisor: <a href="https://scholar.google.com/citations?user=y1pLEGkAAAAJ">
          Shinji Nishimoto</a> and <a href="https://yu-takagi.github.io/">
            Yu Takagi</a>
      </p>
  
      <p><i>2019 April - 2023 March </i><br />
        <b>Osaka University</b><br />
        Division of Biophysical Engineering, <br />
        Department of Systems Science, <br />
        School of Engineering Science, <br />
        Supervisor: <a href="https://scholar.google.com/citations?user=y1pLEGkAAAAJ">
          Shinji Nishimoto</a> and <a href="https://yu-takagi.github.io/">
            Yu Takagi</a>
      </p>
    </div>

  <h2> Experience </h2>
    <div class="exp_block">  
      <p><i>2024 July - 2025 February</i><br />
        Research Assistant in <a href="https://llmc.nii.ac.jp/">
          LLMC, National Institute of Informatics (NII)</a>        
        </p>
      <p><i>2023 April - 2025 March</i><br />
        Collaborating Researcher in <a href="https://www.cinet.jp/english/">
          CiNet, National Institute of Information and Communications Technology (NICT)</a>        
        </p>
      <p><i>2024 February</i><br />
      Research Internship in <a href="https://www.rd.ntt/">
        NTT Communication Science Laboratories</a><br />
      Investigation on neural oscillations (EEG) and visual attention during esports
      </p>
      <p><i>2023 September</i><br />
      Summer School by <a href="https://weblab.t.u-tokyo.ac.jp/">
        Matsuo-Iwasawa Lab, University of Tokyo</a><br />
      Large Language Model course 2023
      </p>
    </div>

  <h2> Skills </h2>
    <div class="skill_block">
      <h3>Programing Languages</h3>
        <p>
          Python, MATLAB, C, R
        </p>
      <h3>Tools</h3>
        <p>
          VS Code, git, Singularity
        </p>
    </div>


</div>

