---
layout: default
---

<div id="lang-banner">
  <select id="lang-select">
    <option value="ja">Japanese</option>
    <option value="en">English</option>
  </select>
</div>

<div>

  <p>{{ site.long_description_ja }}</p>

  {% comment %} 
  Get tags from all posts
  {% endcomment %}
  {% assign rawtags = "" %}
  {% for post in site.posts %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
  {% assign rawtags = rawtags | split:'|' | sort %}

  {% comment %}
  Remove duplicate tags
  {% endcomment %}
  {% assign tags = "" %}
  {% for tag in rawtags %}
    {% if tag != "" %}
      {% if tags == "" %}
        {% assign tags = tag | split:'|' %}
      {% endif %}
      {% unless tags contains tag %}
        {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  {% comment %}
  Get site url without trailing forward slash
  {% endcomment %}
  {% if site.main_github_io %}
    {% assign site_url = "" %}
  {% else %}
    {% assign site_url_len = site.url | size | minus: 1 %}
    {% assign site_url = site.url | slice: 0, site_url_len %}
  {% endif %}

  <!-- <p>
  <h2> Tags </h2>
  <a onclick="show_tag_section('all_posts')" style="cursor: pointer;" class="post_tag"> All Posts </a>
  {% for tag in tags %}
    <a onclick="show_tag_section('{{ tag | slugify }}')" style="cursor: pointer;" class="post_tag"> {{ tag }} </a>
  {% endfor %}
  </p> -->

  <!-- <div id="all_posts">


    <div id="papers">
      <h2> Publications/Preprints </h2>
      <p>*corresponding author; †equal contribution; ‡equal last author; §team lead</p>
      {% for post in site.posts %}
      {% if post.category == "print" %}
        <div class="print_block"> -->
          <!-- <h3>{{ post.title }}</h3> -->
          <!-- <span><strong>{{ post.date | date_to_string }}</strong> - {{ post.tags | array_to_sentence_string }}</span> -->
          <!-- {% if post.description %} 
            <p> {{ post.description }} </p>
          {% endif %}
          {% if post.img_url %} 
            <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
              <img src="{{ post.img_url }}" class="center_img">
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="conferences">
      <h2> Conferences (not peer reviewed)</h2>
      {% for post in site.posts %}
      {% if post.category == "conference" %}
        <div class="conf_block"> -->
          <!-- <h3>{{ post.title }}</h3> -->
          <!-- <span><strong>{{ post.date | date_to_string }}</strong> - {{ post.tags | array_to_sentence_string }}</span> -->
          <!-- {% if post.description %} 
            <p> {{ post.description }} </p>
          {% endif %}
          {% if post.img_url %} 
            <a href="{{ site_url }}{{ post.url }}" title="{{ post.title }}">
              <img src="{{ post.img_url }}" class="center_img">
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>


  </div> -->

  <h2> Publications/Preprints </h2>
    <div  id="papers">
      <p>
        *corresponding author; †equal contribution; ‡equal last author; §team lead<br />
        
        <u>Yuko Nakagi†§</u>, Keigo Tada†, Sota Yoshino†, Shinji Nishimoto*‡, Yu Takagi*‡<br />
        <b><a href="https://www.arxiv.org/abs/2502.20779">Triple Phase Transitions: Understanding the Learning Dynamics of Large Language Models from a Neuroscience Perspective</a></b><br />
        <i>arXiv</i>, 2025<br /><br />
        
        <u>Yuko Nakagi†</u>, Takuya Matsuyama†, Naoko Koide-Majima, Hiroto Yamaguchi, Rieko Kubo, Shinji Nishimoto*‡, Yu Takagi*‡<br />
        <b><a href="https://aclanthology.org/2024.emnlp-main.1133/">Unveiling Multi-level and Multi-modal Semantic Representations in the Human Brain using Large Language Models</a></b><br />
        [<a href="https://sites.google.com/view/llm-and-brain/%E3%83%9B%E3%83%BC%E3%83%A0">Project page</a>]<br />
        <i>EMNLP</i>, 2024<br /><br />
      </p>
    </div>

  <h2> Conferences (not peer reviewed)</h2>
    <div id="conferences">
      <p>
        <u>中木 裕子†§</u>, 多田 圭吾†, 吉野 草太†, 西本 伸志*‡, 高木 優*‡<br />
        <b><a href="https://www.anlp.jp/proceedings/annual_meeting/2025/pdf_dir/E10-5.pdf">Triple-Phase Transition: 脳との関係から捉える大規模言語モデルの学習ダイナミクス</a></b><br />
        <i>言語処理学会第31回年次大会 (NLP2025)</i>, 長崎, 日本, 2025年3月<br /><br />

        <u>中木 裕子</u>, 松山 卓矢, 小出(間島) 真子, 山口 裕人, 久保 理恵子, 西本 伸志, 高木 優<br />
        <b><a href="https://www.jstage.jst.go.jp/article/pjsai/JSAI2024/0/JSAI2024_2K6OS20b01/_article/-char/en">音声・物体・物語レベルの意味理解に関するヒト脳活動と大規模言語モデルの潜在表現の対応</a></b><br />
        <i> 2024年度人工知能学会全国大会（第38回）(JSAI2024)</i>, 浜松, 日本, 2024年5月<br /><br />

        <u>中木 裕子</u>, 西本 伸志, 高木 優<br />
        <b>集団行動知覚時のヒト脳における位置情報表現</b><br />
        <i>第46回日本神経科学大会(Neuro2023)</i>, 仙台, 日本, 2023年8月<br /><br />
      </p>
    </div>

  <h2> Awards </h2>
  <div class="awards_block">
    <b>若手奨励賞</b><br />
      <a href="https://anlp.jp/nlp2025/">言語処理学会第31回年次大会(NLP2025)</a><br />
      長崎, 日本, 2025年3月13日<br /><br />
    
    <b>ベストプレゼンテーション賞</b><br />
      2024年度生命機能研究科 中間評価論文公聴会<br />
      大阪, 日本, 2025年3月25日<br /><br />
  </div>
  
  <h2> Education </h2>
    <div class="edu_block">
      <p><i>2023年4月 - 2025年3月</i><br />
        <b>大阪大学</b><br />
        大学院 生命機能研究科 <br />
        指導者: <a href="https://scholar.google.com/citations?user=y1pLEGkAAAAJ"> 西本伸志</a>、 
        <a href="https://yu-takagi.github.io/"> 高木優</a>
      </p>
  
      <p><i>2019年4月 - 2023年3月 </i><br />
        <b>大阪大学</b><br />
        基礎工学部 システム科学科 生物工学コース <br />
        指導者: <a href="https://scholar.google.com/citations?user=y1pLEGkAAAAJ"> 西本伸志</a>、 
        <a href="https://yu-takagi.github.io/"> 高木優</a>
      </p>
    </div>

  <h2> Experience </h2>
    <div class="exp_block">  
      <p><i>2024年7月 - 2025年2月</i><br />
        リサーチアシスタント <br /> <a href="https://llmc.nii.ac.jp/">
          国立情報学研究所 大規模言語モデル研究開発センター (NII LLMC)</a>     
        </p>
      <p><i>2023年4月 - 2025年3月</i><br />
        協力研究員 <br /> <a href="https://www.cinet.jp/english/">
          情報通信研究機構 脳情報通信融合研究センター (NICT CiNet)</a>        
        </p>
      <p><i>2024年2月</i><br />
        研究インターンシップ <br /> <a href="https://www.rd.ntt/">
          NTT コミュニケーション科学基礎研究所</a><br />
          Investigation on neural oscillations (EEG) and visual attention during esports
      </p>
      <p><i>2023年9月</i><br />
        サマースクール 大規模言語モデル講座 2023 <br /> <a href="https://weblab.t.u-tokyo.ac.jp/">
        東京大学 松尾・岩澤研究室</a><br />
      </p>
    </div>

  <h2> Skills </h2>
    <div class="skill_block">
      <h3>プログラミング言語</h3>
        <p>
          Python, MATLAB, C, R
        </p>
      <h3>ツール</h3>
        <p>
          VS Code, git, Singularity
        </p>
    </div>


</div>

